@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links li{
    list-style: none;
    
}
.menu-links.open{
    max-height: 300px;

}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);

}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;


}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);

}
.hamburger-icon span:first-child{
    transform: none;
    

}
.hamburger-icon span:first-child{
    opacity: 1;


}
.hamburger-icon span:first-child{
    transform: none;


}